/* css para o produto */
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Corpo */
body{
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
#header{
    background: #111;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

#header h1 img{
    width: 150px;
    border-radius: 10px;
}

/* Menu */
#nav{
    display: flex;
    list-style: none;
    gap: 10px;
}

#nav li a{
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

#nav li a:hover,
#nav li a.ativa{
    background: #d62828;
    transform: translateY(-2px);
}

/* Banner */

#banner{
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(to right,#1d1d1d,#2b2b2);
    color: white;
}

#banner h1{
    margin-bottom: 20px;
    font-size: 2.2em;
}

#banner img{
    max-width: 90%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

/* Conteúdo */

#section{
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.article{
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.article p{
    margin-bottom: 18px;
    text-align: justify;
    font-size: 18px;
}

.article h2{
    color: #c1121f;
    margin: 25px 0 15px;
    border-left: 6px solid #c1121f;
    padding-left: 10px;
}

/* Lista */

.article ul{
    margin-left: 25px;
}

.article li{
    margin-bottom: 15px;
    font-size: 17px;
}

/* Rodapé */

#footer{
    background: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 150px;
}

#footer h5{
    font-weight: normal;
    line-height: 1.8;
}

/* Responsividade */

@media(max-width:768px){

    #header{
        flex-direction: column;
    }

    #nav{
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
    }

    #nav li a{
        justify-content: center;
    }

    #banner h1{
        font-size: 1.6em;
    }

    .article{
        padding: 20px;
    }

    .article p,
    .article li{
        font-size: 16px;
	}
		
.sem-negrito {
    font-weight: normal;
}

    }
}
